:root {
    /* Color Palette */
    --orange: #FF6B35;
    --red: #E63946;
    --yellow: #FFB703;
    --deep-blue: #023047;
    --teal: #2A9D8F;
    --turquoise: #8ECAE6;
    --light-bg: #F8F4E3;
    --dark-bg: #14213D;
    --text-dark: #333333;
    --text-light: #F5F5F5;
  
    --dark-red-blend: #97230ae8;
    --dark-orange: #de5607;
  
    
  --font-heading: 'Montserrat', 'Cal Sans', sans-serif;
  --font-body: 'Merriweather', 'Source Serif 4', serif;
  --font-mono: 'Roboto Mono', monospace;
  }